<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom StyleCop Rules" Description="Custom rules for StyleCop in Unity" ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1601" Action="None" /> <!-- Partial elements should be documented -->
    <Rule Id="SA1600" Action="None" /> <!-- Elements should be documented -->
    <Rule Id="SA1500" Action="None" /> <!-- Braces for multi-line statements should not share line -->
    <Rule Id="SA1513" Action="None" /> <!-- Closing brace should be followed by blank line -->
    <Rule Id="SA1000" Action="None" /> <!-- Keywords should be spaced correctly -->
    <Rule Id="SA1633" Action="None" /> <!-- File should have header -->
    <Rule Id="SA1010" Action="None" /> <!-- Opening square brackets should be spaced correctly -->
    <Rule Id="SA1118" Action="None" /> <!-- Parameter should not span multiple lines -->
    <Rule Id="SA1602" Action="None" /> <!-- Enumeration items should be documented -->
    <Rule Id="SA1009" Action="None" /> <!-- Closing parenthesis should be spaced correctly -->
    <Rule Id="SA1123" Action="None" /> <!-- Do not place regions within elements -->
  </Rules>
</RuleSet>
