<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom StyleCop Rules" Description="Custom rules for StyleCop in Unity" ToolsVersion="17.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1010" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>